<ion-header [translucent]="true">
  <div id="header">
    <br/><br/>
    <ion-title id="title">
      Learn
    </ion-title><br/>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="background">
    <ion-grid id="grid">
      <ion-row>
        <ion-col size="5">
          <img src="../../assets/images/Brampton.jpg">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <h1>A Guide to Brampton</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <p>The Flower City blooming with growth!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <h1>Dress for the Weather!</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <p>Brampton has cold winters and hot summers, it's always important
            to pay attention to the weather forcast on a daily basis. It could
            be snowing one day like it is the middle of December and warm the
            next day like the middle of May!
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <h1>Go car-free</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <p>It's not just an environmental statement, it's a
            smart choice. Brampton has a limited amount of parking spaces,
            and the infrastucture in some areas simply does not support
            the large population. Walk or ride your bike to nearby areas
            whenever you can!
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <h1>Taking ZUM</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <p>ZUM is Brampton's Public Transit and offers many 
            different rides across the city on major roads 
            such as Bovaird Drive, Queens Street, Main Steet, 
            Hurontario Road, and more. Download the offical
            ZUM app to learn about specific bus timings and
            trackers.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <h1>Thank You!</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <p>Always be sure to follow any specific parking policies
            given by administration of certain locations. This app
            is meant to direct you to the most efficient parking spaces
            to avoid traffic and free up space for essential travel.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
